https://github.com/NickNaskida/NTRS-NLP.git# Environment variable overrides for local development

# Flask
FLASK_APP=manage.py
FLASK_DEBUG=1
FLASK_ENV=development

LOG_LEVEL=debug
SECRET_KEY=not-so-secret

# SQLAlchemy
DATABASE_URL=sqlite:///dev.db

# Cache
CACHE_TYPE=SimpleCache

# In production, set to a higher number, like 31556926
SEND_FILE_MAX_AGE_DEFAULT=0
