{% extends 'base.html' %}

{% block title %}File Server | NTRS NLP{% endblock %}

{% block content %}
    <h1>NTRS NLP</h1>
    <section class="search">
        <form action="/" method="POST" class="search_form" id="search_form">
            <input type="text" name="query" id="search_input" placeholder="Search by keywords or collocations ..." required>
            <button class="search_butt" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
    </section>

    {% include('nav.html') %}

    {% if search_query %}
        <section class="search">
            <h3>Search Results For: {{ search_query }}</h3>
        </section>
    {% endif %}

    <section class="uploaded_files">
        {% for file in files %}
            <div class="file_card">
                <header class="file_card_header">
                    <div class="pdf_icon">
                        PDF
                    </div>
                    <div class="file_info">
                        <h4>{{ file.pdf_filename }}</h4>
                        <span class="badge date-badge">{{ file.upload_date.strftime('%Y-%m-%d') }}</span>
                    </div>
                    <a class="download_butt" href="{{ url_for('main.download', filename=file.pdf_filename_alt) }}">
                        <i class="fa-regular fa-eye"></i>
                    </a>
                </header>
                <div class="file_card_body">
                    <p>
                        <h5>Keywords:</h5>
                        {{ file.keywords }}
                    </p>
                    <p>
                        <h5>Collocations:</h5>
                        {{ file.collocations }}
                    </p>
                </div>
            </div>
        {% else %}
            <div class="nothing_found">
                <lord-icon
                    src="https://cdn.lordicon.com/cvpqeffe.json"
                    trigger="loop"
                    colors="primary:#112d4e,secondary:#3f72af"
                    stroke="65"
                    style="width:200px;height:200px">
                </lord-icon>
                <h5>Nothing Found</h5>
            </div>
        {% endfor %}
    </section>

    <script type="text/javascript" src="{{ static_url_for('static', filename='js/index.js') }}"></script>
{% endblock %}
