html, body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    font-size: 15px;
    color: #000;
    overflow-x: hidden;
    font-family: "Rubik", sans-serif;
    background-color: #F9F7F7;
}

body {
    justify-content: flex-start;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #112D4E;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #000;
    text-decoration: underline;
}

/*=========container=========*/
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}

/*==========scrollbar===========*/
::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #3F72AF;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
    transition: all 0.2s ease;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #112D4E;
}

/*=========bootstrap=========*/
.toast-container {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/*=========main-page=========*/
.search {
    margin-bottom: 2rem;
}

.search_form {
    position: relative;
}

.search_form input {
    width: 560px;
    height: 44px;
    padding: 0 50px;
    border: none;
    border-radius: 50px;
    background-color: #DBE2EF;
}

.search_form input:focus {
    border: none;
    outline: none;
}

.search_butt {
    position: absolute;
    top: 12px;
    left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    color: #3F72AF;
    font-size: 1.3rem;
    cursor: pointer;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 180px;
    margin-bottom: 4rem;
}

.nav_link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.nav_link_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #DBE2EF;
}

.nav_link__active .nav_link_title {
    font-weight: 700;
}

.nav_link_title {
    font-size: 12px;
    font-weight: 500;
}


/*=========upload-page=========*/
#UploadFile {
    width: 400px;
}

input[type=file]::file-selector-button {
  background-color: #DBE2EF;
}

input[type=file]::file-selector-button:hover {
  background-color: #DBE2EF;
}

.upload_butt {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 4px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #3F72AF;
    color: #F9F7F7;
    font-weight: 500;
    transition: 0.3s all ease-in-out;
}

.upload_butt:hover {
    transform: scale(1.05);
}
